.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.addons.form-inline {
    .form-group { width: 100%; margin-bottom: 10px; }
    .form-group label { text-align: right; width: 20%; margin-right: 5px; }
    .form-group input { width: 70%; }
    .form-group .help-block { margin-left: 22%; }
}

.ev-form .addons,
.ev-form .actions,
.ev-form .attributes,
.ev-form .confirmation-email {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
}
