<div class="container event">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ ev.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p style="white-space: pre-wrap;">{{ev.description}}</p>

            <p>Last day to submit: <strong>{{ev.dueDate | amDateFormat: 'YYYY-MM-DD'}}</strong></p>

            <a href="https://www.ewb-swe.org">
                <img class="logo" src="/assets/images/ewb-logo.png" alt="Logo" />
            </a>
        </div>
        <div class="col-xs-12 col-md-6">
            <p class="bg-warning" ng-show="ev.isPast" style="padding: 20px; border-radius: 5px;">Last day for submission has passed.</p>
            <p class="bg-warning" ng-show="!ev.notificationOpen" style="padding: 20px; border-radius: 5px;">Submission is closed.</p>
            <form novalidate name="form" class="payment-form">
                <p>
                    Participate in <strong>{{ev.addons[0].name}}</strong> for a cost of <strong>{{ev.addons[0].price}} SEK</strong></span>.
                </p>
                <p class="help-block" ng-show="ev.addons[0].description" style="white-space: pre-wrap;">{{ev.addons[0].description}}</p>

                <div ng-show="ev.addons.length" ng-repeat="addon in ev.addons" ng-if="$index > 0">
                    <p><strong>Add</strong></p>
                    <label class="radio-inline control-label">
                        <input type="checkbox" name="type" ng-value="addon.id" ng-model="participant.addons[addon.id]" ng-disabled="addon.capacity <= 0"/>
                        <span>{{addon.name}} - <strong>{{addon.price}} kr</strong></span>. <span ng-show="addon.capacity <= 0">Full!</span>
                        <p class="help-block" ng-show="addon.description" style="white-space: pre-wrap;">{{addon.description}}</p>
                    </label>
                </div>

                <div ng-show="ev.addons[0].capacity <= 0">
                    <p>
		      We can't take any more submissions due to limited capacity.
                    </p>
                </div>

                <hr />

                <div ng-class="{'form-group': true, 'has-error': form.inputName.$error.name, 'has-success': form.inputName.$valid}">
                    <label class="control-label" for="inputName">Name</label> *
                    <input class="form-control" type="text" name="inputName" id="inputName" ng-model="participant.name" ng-disabled="ev.addons[0].capacity <= 0 || !ev.notificationOpen" required/>
                    <p class="help-block" ng-show="form.inputName.$error.name">
                    Please enter a name.
                    </p>
                </div>

                <div ng-class="{'form-group': true, 'has-error': form.inputEmail.$error.email, 'has-success': form.inputEmail.$valid}">
                    <label class="control-label" for="inputEmail">Email</label> *
                    <input class="form-control" type="email" name="inputEmail" id="inputEmail" ng-model="participant.email" ng-disabled="ev.addons[0].capacity <= 0 || !ev.notificationOpen" required/>
                    <p class="help-block" ng-show="form.inputEmail.$error.email">
                    Please enter a valid email address.
                    </p>
                </div>

                <div class="form-group">
                    <label class="control-label" for="inputComment">Comment</label>
                    <textarea rows="3" class="form-control" name="inputComment" id="inputComment" ng-model="participant.comment" ng-disabled="ev.addons[0].capacity <= 0 || !ev.notificationOpen"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="initiatePayment()" ng-disabled="ev.addons[0].capacity <= 0 || !ev.notificationOpen">Submit</button>
                </div>
                <p class="help-block">
                When you click <strong>Submit</strong> your transaction is managed securely by <a href="https://stripe.com/se" target="_blank">Stripe</a>. When the transaction is completed we send you a confirmation to the email address specified above.
                </p>
            </form>
        </div>
    </div>
</div>

<div class="js-confirmation modal fade" role="dialog" aria-labelledby="confirmation-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmation-label">Thank you for participating!</h4>
            </div>
            <div class="modal-body">
                <p>A confirmation of your participation is sent to <strong>{{successEmail}}</strong>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="js-payment-error modal fade" role="dialog" aria-labelledby="confirmation-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmation-label">The transaction was unsuccessful</h4>
            </div>
            <div class="modal-body">
                <p>{{errorMessage}}</p>
                <p>Do you have any payment related questions? Reach out to us at <a href="mailto:ict@ewb-swe.org">ict@ewb-swe.org</a> and hopefully we can help you.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
