<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>New member</h1>
  </div>
</header>

<div class="container">
  <form class="member-form">

    <div class="bg-success" ng-show="showSuccess">
      <div ng-message="memberCreated">Medlem sparad</div>
    </div>

    <div class="bg-danger" ng-show="showError">
      <div ng-message="emailExists">Epostadressen finns redan.</div>
    </div>

    <div class="form-group">
      <label for="inputName">Namn och efternamn</label>
      <input type="text" name="inputName" id="inputName" ng-model="newMember.name"/>
    </div>

    <div class="form-group">
      <label for="inputLocation">Ort</label>
      <input type="text" name="inputLocation" id="inputLocation" ng-model="newMember.location"/>
    </div>

    <div class="radio">
      <label class="radio-inline">
        <input type="radio" name="isStudent" value="1" ng-model="newMember.student"/>
        Student
      </label>
      <label class="radio-inline">
        <input type="radio" name="isStudent" value="0" ng-model="newMember.student" />
        Yrkesverksam/Senior
      </label>
    </div>

    <div class="form-group">
      <label for="inputProfession">Yrke/Utbildning</label>
      <input type="text" name="inputProfession" id="inputProfession" ng-model="newMember.profession"/>
    </div>

    <div class="form-group">
      <label for="inputEmail">E-postadress</label>
      <input type="text" name="inputEmail" id="inputEmail" ng-model="newMember.email"/>
    </div>

    <div class="form-group">
      <label for="inputTelephone">Telefon</label>
      <input type="text" name="inputTelephone" id="inputTelephone" ng-model="newMember.telephone"/>
    </div>


    <div class="form-group">
      <p>Nedan kan du valja att ge ett exakt slutdatum for medlemmen eller valja en fordefinierad langd</p>
      <label for="inputDate">Medlem till och med</label>
      <input type="date" id="inputDate" ng-model="newMember.expirationDate" aria-describedBy="helpBlock"/>
      <span id="helpBlock" class="help-block">
        Skriv ett datum enligt formen YYYY-MM-DD, till exempel 2016-09-01.
      </span>
    </div>

    <div class="radio">
      <label class="radio-inline">
        <input type="radio" name="subscriptionLength" value="1" ng-model="newMember.subscriptionLength"/>
        1 år
      </label>
      <label class="radio-inline">
        <input type="radio" name="subscriptionLength" value="3" ng-model="newMember.subscriptionLength" />
        3 år
      </label>
    </div>

    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addMember()">Lägg till medlem</button>
    </span>
  </form>
</div>
