<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>New member</h1>
  </div>
</header>

<div class="container">
  <form class="member-form">
    <div class="form-group">
      <label for="inputEmail">Epost adress</label>
      <input type="text" id="inputEmail" ng-model="newMember.email"/>
    </div>

    <div class="radio">
      <label class="radio-inline">
        <input type="radio" name="isStudent" value="1" ng-model="newMember.student"/>
        Student
      </label>
      <label class="radio-inline">
        <input type="radio" name="isStudent" value="0" ng-model="newMember.student" />
        Yrkesverksam
      </label>
    </div>

    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addMember()">Lägg till medlem</button>
    </span>
  </form>
</div>
