<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <ul class="list-inline navigation">
                    <li><a href="/start">Hem</a></li>
                    <li><a href="/content/bloggen">Blogg</a></li>
                    <li><a href="/content/projekt">Projekt</a></li>
                    <li><a title="" href="http://volontar.ingenjorerutangranser.se/">Engagera dig</a></li>
                    <li><a class="active-trail" href="/content/syfte-och-arbetsgrupper">Om oss</a></li>
                    <li><a href="/partners-1">Partners</a></li>
                </ul>
                <div class="copyright">&copy; 2015 Ingenjörer utan gränser.</div>
            </div>
            <div class="col-xs-4 social">
                <a target="_blank" class="youtube" href="http://www.youtube.com/user/IngenjoreUtanGranser"></a>
                <a target="_blank" class="facebook" href="http://www.facebook.com/ingenjorerutangranser"></a>
                <a target="_blank" class="twitter" href="http://twitter.com/EWB_Ingenjorer"></a>
                <a target="_blank" class="linkedin" href="http://www.linkedin.com/company/ingenj-rer-utan-gr-nser-engineers-without-borders-"></a>
                <a target="_blank" class="rss" href="/rss.xml"></a>
            </div>
        </div>
    </div>
</footer>
