<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Bulk add members</h1>
  </div>
</header>

<div class="container">
  <form class="member-form">
    <div class="bg-success" ng-show="showValidMembers">
      <p>Tillagda medlemmar:</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Epost</td>
            <td>Ort</td>
            <td>Yrke</td>
            <td>Telefon</td>
            <td>Student</td>
            <td>Created at</td>
            <td>Member until</td>
          </tr>
        </thead>
        <tbody ng-repeat="member in validMembers">
          <tr>
            <td>{{member._id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td>{{member.location}}</td>
            <td>{{member.profession}}</td>
            <td>{{member.telephone}}</td>
            <td>{{member.student}}</td>
            <td>{{member.createdAt | amDateFormat: 'YYYY-MM-DD'}}</td>
            <td>{{member.expirationDate | amDateFormat: 'YYYY-MM-DD'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bg-warning" ng-show="noMembersAdded">
      <p>Inga medlemmar tillagda.</p>
    </div>
    <div class="bg-danger" ng-show="showInvalidMembers">
      <p>Misslyckades med följande medlemmar:</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Epost</td>
            <td>Ort</td>
            <td>Yrke</td>
            <td>Telefon</td>
            <td>Student</td>
            <td>Created at</td>
            <td>Member until</td>
          </tr>
        </thead>
        <tbody ng-repeat="member in invalidMembers">
          <tr>
            <td>{{member._id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td>{{member.location}}</td>
            <td>{{member.profession}}</td>
            <td>{{member.telephone}}</td>
            <td>{{member.student}}</td>
            <td>{{member.createdAt | amDateFormat: 'YYYY-MM-DD'}}</td>
            <td>{{member.expirationDate | amDateFormat: 'YYYY-MM-DD'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      Mata in en medlem på varje rad enligt formen
    </p>
    <p class="bg-info">
      Längd är det antal dagar som medlemskapet anses vara aktiv och skrivs med positiva heltal. 365 = 1 år, 1095 = 3 år.
    </p>
    <pre>
      namn,ort,student,yrke/utbildning,epost,telefon,längd
      namn,ort,yrkesverksam,yrke/utbildning,epost,telefon,längd
      ...
    </pre>
    <p>
      Till exempel
    </p>
    <pre>
      Glenn Hysen,Göteborg,yrkesverksam,Legend,glenn@hysen.com,+46123456789,365
      Tobias Hysen,Kina,student,Fotbollsproffs,tobias@hysen.com,0730000000,1095
    </pre>
    <div class="form-group">
      <label for="inputEmail">Medlemmar</label>
      <textarea type="text" name="inputCSV" class="form-control" id="inputCSV" rows="10" ng-model="csv"></textarea>
    </div>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addMembers()">Lägg till medlemmar</button>
    </span>
  </form>
</div>
