<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Bulk add members</h1>
  </div>
</header>

<div class="container">
  <form class="member-form">
    <div class="bg-success" ng-show="showValidMembers">
      valida members
      {{validMembers}}
    </div>
    <div class="bg-warning" ng-show="noMembersAdded">
      NO MEMBERS ADDED
    </div>
    <div class="bg-danger" ng-show="showInvalidMembers">
      invalida members
      {{invalidMembers}}
    </div>
    <p>
      Mata in en medlem pa varje rad enligt formen
    </p>
    <p class="text-info">
      Slutdatum ar det datum medlemskapets anses forbrukat och skrivs pa formen YYYY-MM-DD, till exempel 2015-01-01
    </p>
    <pre>
      namn,ort,student,yrke/utbildning,epost,telefon,slutdatum
      namn,ort,yrkesverksam,yrke/utbildning,epost,telefon,slutdatum
      ...
    </pre>
    <p>
      Till exempel
    </p>
    <pre>
      Glenn Hysen,Goteborg,yrkesverksam,Legend,glenn@hysen.com,+46123456789,2016-08-10
      Tobias Hysen,Kina,student,Fotbollsproffs,tobias@hysen.com,0730000000,2019-08-10
    </pre>
    <div class="form-group">
      <label for="inputEmail">Medlemmar</label>
      <textarea type="text" name="inputCSV" class="form-control" id="inputCSV" rows="10" ng-model="csv"></textarea>
    </div>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addMembers()">Lägg till medlemmar</button>
    </span>
  </form>
</div>
