<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Events</h1>
    </div>
</header>

<div class="container">
    <div class="row member-actions">
        <div class="col-xs-12">
            <a href="/event/new" class="btn btn-default">Skapa event</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <dir-pagination-controls></dir-pagination-controls>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Namn
                                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                                Länk
                                <span ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
                                Skapad
                                <span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'due_date'; sortReverse = !sortReverse">
                                Sista anmälning
                                <span ng-show="sortType == 'due_date' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'due_date' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'participants'; sortReverse = !sortReverse">
                                Deltagare
                                <span ng-show="sortType == 'participants' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'participants' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                Aktiv
                                <span ng-show="sortType == 'active' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'active' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="event in events | orderBy:sortType:sortReverse | filter:filterByEmail | filter:filterByLocation | itemsPerPage: 50">
                        <td><a href="/event/{{event.id}}">{{event.name}}</a></td>
                        <td><a href="/e/{{event.identifier}}">/e/{{event.identifier}}</td>
                        <td>{{event.created_at | amDateFormat: 'YYYY-MM-DD'}}</td>
                        <td>{{event.due_date | amDateFormat: 'YYYY-MM-DD'}}</td>
                        <td>{{event.participants.length}}</td>
                        <td ng-class="{ 'bg-success': event.active, 'bg-warning': !event.active }"></td>
                        <td>
                            <a href="/event/{{event.id}}/edit" class="btn btn-default btn-xs">Redigera</a>
                            <a href="#" ng-click="deleteEvent(event.id)" class="btn btn-danger btn-xs">Ta bort</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>
