<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Events</h1>
    </div>
</header>

<div class="container">
    <div class="row member-actions">
        <div class="col-xs-12">
            <a href="/event/new" class="btn btn-default">Lägg till/redigera event</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <dir-pagination-controls></dir-pagination-controls>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                                Beskrivning
                                <span ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                                Pris
                                <span ng-show="sortType == 'price' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'price' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                Aktivt
                                <span ng-show="sortType == 'active' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'active' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'createdAt'; sortReverse = !sortReverse">
                                Skapad den
                                <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'participants'; sortReverse = !sortReverse">
                                Deltagare
                                <span ng-show="sortType == 'participants' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'participants' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="event in events | orderBy:sortType:sortReverse | filter:filterByEmail | filter:filterByLocation | itemsPerPage: 50">
                        <td><a href="/event/{{event._id}}">{{event.name}}</a></td>
                        <td>{{event.description}}</td>
                        <td>{{event.price}}</td>
                        <td>{{event.active}}</td>
                        <td>{{event.createdAt | amDateFormat: 'YYYY-MM-DD'}}</td>
                        <td>{{event.participants}}</td>
                        <td>
                            <a href="/event/{{event._id}}/edit" class="btn btn-default btn-xs">Redigera</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>
