<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>{{ editMember ? 'Edit member' : 'New member' }}</h1>
    </div>
</header>

<div class="container">
    <div class="row member-actions">
        <div class="col-xs-12 form-inline">
            <input type="text" class="form-control" ng-model="searchEmail" placeholder="Epostadress">
            <button ng-click="findByEmail(searchEmail)" class="btn btn-default">Hitta medlem</button>
        </div>
    </div>
    <form class="member-form">

        <div class="bg-success" ng-show="showSuccess">
            <div ng-message="memberCreated">Medlem sparad</div>
        </div>

        <div class="bg-danger" ng-show="showError">
            <div ng-message="emailExists">Epostadressen finns redan.</div>
        </div>

        <div class="form-group">
            <label for="inputName">Namn</label>
            <input type="text" name="inputName" id="inputName" class="form-control" ng-model="member.name" required/>
        </div>

        <div class="form-group">
            <label for="inputLocation" class="control-label">Ort</label>
            <input type="text" name="inputLocation" id="inputLocation" class="form-control" ng-model="member.location"/>
        </div>

        <div class="radio">
            <label class="radio-inline" ng-repeat="memberType in memberTypes">
                <input type="radio" name="type" value="{{memberType.member_type}}" ng-model="member.member_type" />
                {{memberType.member_type}}
            </label>
        </div>

        <div class="radio">
            <label class="radio-inline">
                <input type="radio" name="gender" value="male" ng-model="member.gender" />
                Man
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="female" ng-model="member.gender" />
                Kvinna
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="other" ng-model="member.gender" />
                Annat
            </label>
        </div>

        <div class="form-group">
            <label for="inputProfession">Yrke</label>
            <input type="text" name="inputProfession" id="inputProfession" class="form-control" ng-model="member.profession"/>
        </div>

        <div class="form-group">
            <label for="inputProfession">Utbildning</label>
            <input type="text" name="inputEducation" id="inputEducation" class="form-control" ng-model="member.education"/>
        </div>

        <div class="form-group">
            <label for="inputEmail">E-postadress</label>
            <input type="text" name="inputEmail" id="inputEmail" class="form-control" ng-model="member.email" required/>
        </div>

        <div class="form-group">
            <label for="inputYearOfBirth">Födelseår</label>
            <input type="text" name="inputYearOfBirth" id="inputYearOfBirth" class="form-control" maxLength="4" ng-model="member.yearOfBirth"/>
        </div>

        <div class="form-group">
            <label for="inputEmployer">Employer</label>
            <input type="text" name="inputEmployer" id="inputEmployer" class="form-control" ng-model="member.employer"/>
        </div>

        <div class="form-group">
            <label>Lokalgrupp</label>
            <select name="inputChapter" ng-model="member.chapterId">
                <option value="-1">None selected</option>
                <option ng-repeat="option in availableChapters" ng-selected="option.id == member.chapterId" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <p>Nedan kan du välja att ge ett exakt slutdatum för medlemmen eller välja en fördefinierad längd</p>
            <label for="inputDate">Medlem till och med</label>
            <input type="date" id="inputDate" ng-model="member.expirationDate" aria-describedBy="helpBlock"/>
            <span id="helpBlock" class="help-block">
                Skriv ett datum enligt formen YYYY-MM-DD, till exempel 2016-09-01.
            </span>
        </div>

        <div class="radio" ng-show="!editMember">
            <label class="radio-inline">
                <input type="radio" name="subscriptionLength" value="1" ng-model="member.subscriptionLength"/>
                1 år
            </label>
            <label class="radio-inline">
                <input type="radio" name="subscriptionLength" value="3" ng-model="member.subscriptionLength" />
                3 år
            </label>
        </div>

        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="submit()">Spara medlem</button>
        </span>
    </form>
</div>
