<div class="container membership">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 ng-show="renewalMode">Renew your membership</h1>
      <h1 ng-show="!renewalMode">Sign up</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div ng-show="renewalMode">
        <p><strong>
          We would love to see your continued support. Being a part of Engineers without borders gives you the possibility to get involved and influence our work for a better world. Your membership also supports our organization greatly and we need both active and supporting members. There is no requirement for an engineering degree, everyone is needed and all are welcome.
        </strong></p>

        <p class="help-block">
          If you want to get involved we recommend that you contact your local group that you can find over at <a target="_blank" href="https://www.ewb-swe.org/organisation">www.ewb-swe.org/organisation</a>. You can also find available positions for current projects at <a target="_blank" href="https://volunteer.ewb-swe.org">volunteer.ewb-swe.org</a>. If you have any other questions that can't be answered by one of the local groups, feel free to contact us at <a href="mailto:info@ewb-swe.org">info@ewb-swe.org</a>.
        </p>
      </div>
      <div ng-show="!renewalMode">
        <p><strong>
          We would love to see you join our community. Being a part of Engineers without borders gives you the possibility to get involved and influence our work for a better world. Your membership also supports our organization greatly and we need both active and supporting members. There is no requirement for an engineering degree, everyone is needed and all are welcome.
        </strong></p>

        <p class="help-block">
          If you want to get involved we recommend that you contact your local group that you can find over at <a target="_blank" href="https://www.ewb-swe.org/organisation">www.ewb-swe.org/organisation</a>. You can also find available positions for current projects at <a target="_blank" href="https://volunteer.ewb-swe.org">volunteer.ewb-swe.org</a>. If you have any other questions that can't be answered by one of the local groups, feel free to contact us at <a href="mailto:info@ewb-swe.org">info@ewb-swe.org</a>.
        </p>
      </div>

      <p class="help-block">
        Do you any questions regarding your membership or anything payment related? Reach out to us at <a href="mailto:info@ewb-swe.org">info@ewb-swe.org</a>.
      </p>

      <a href="http://www.ewb-swe.org">
        <img class="logo" src="/assets/images/ewb-logo.png" alt="Logo" />
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <form novalidate name="form" class="payment-form">
        <div ng-class="{'form-group': true, 'has-error': form.inputEmail.$error.email, 'has-success': form.inputEmail.$valid}">
          <label class="control-label" for="inputEmail">Email *</label>
          <input class="form-control" type="email" name="inputEmail" id="inputEmail" ng-model="newMember.email" required/>
          <p class="help-block" ng-show="form.inputEmail.$error.email">
            Please enter a valid email address.
          </p>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputLocation">Location *</label>
          <input class="form-control" type="text" name="inputLocation" id="inputLocation" ng-model="newMember.location" required/>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div>
                <label>Type *</label>
            </div>
            <div ng-class="{'form-group': true, 'has-error': !newMember.memberType && !form.$pristine, 'has-success': newMember.memberType }">
              <label class="radio-inline control-label">
                <input type="radio" name="type" value="student" ng-model="newMember.memberType"/>
                <span>Student</span>
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="type" value="working" ng-model="newMember.memberType" />
                <span>Working</span>
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="type" value="senior" ng-model="newMember.memberType" />
                <span>Senior</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div>
                <label>Membership duration *</label>
            </div>
            <div ng-class="{'form-group': true, 'has-error': !newMember.subscriptionLength && !form.$pristine, 'has-success': newMember.subscriptionLength}">
              <label class="radio-inline control-label">
                <input type="radio" name="subscriptionLength" value="1" ng-model="newMember.subscriptionLength" />
                <span>1 year</span>
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="subscriptionLength" value="3" ng-model="newMember.subscriptionLength" />
                <span>3 year</span>
              </label>
            </div>
          </div>
        </div>

	<div class="row">
          <div class="col-xs-12">
	    <div>
	      <label>Local chapter</label>
	    </div>
	    <div>
	      <select ng-model="newMember.chapterId">
		<option>None selected</option>
		<option ng-repeat="option in availableChapters" value="{{option.id}}">{{option.name}}</option>
	      </select>
	    </div>
	    <p class="help-block">
	      You may choose a local chapter if you would like to receive local news and information about activities near you.
	    </p>
	  </div>
	</div>

	<div class="form-group">
          <label class="control-label" for="inputName">Name</label>
          <input class="form-control" type="text" name="inputName" id="inputName" ng-model="newMember.name" />
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div>
              <label class="control-label" for="inputYearOfBirth">Year of birth</label>
              <input class="form-control" type="number" name="inputYearOfBirth" id="inputYearOfBirth" min="1900" ng-model="newMember.yearOfBirth"/>
              <p class="help-block">
                4 digits, for instance 1988
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <div>
                <label>Gender</label>
              </div>
              <label class="radio-inline control-label">
                <input type="radio" name="gender" value="male" ng-model="newMember.gender"/>
                <span>Male</span>
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="gender" value="female" ng-model="newMember.gender" />
                <span>Female</span>
              </label>
              <label class="radio-inline control-label">
                <input type="radio" name="gender" value="other" ng-model="newMember.gender" />
                <span>Other</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div ng-class="{'form-group': true }">
              <label class="control-label" for="inputProfession">Profession</label>
              <input class="form-control" type="text" name="inputProfession" id="inputProfession" ng-model="newMember.profession"/>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div ng-class="{'form-group': true }">
              <label class="control-label" for="inputEducation">Education</label>
              <input class="form-control" type="text" name="inputEducation" id="inputEducation" ng-model="newMember.education"/>
            </div>
          </div>
        </div>
        
        <p class="help-block" for="subscriptionLength">
          Sign up for 1 year starting at 40 SEK for students or join 3 years for 90 SEK (costs for non-students are 100 SEK and 250 SEK, respectively).
        </p>
        <p class="text-warning" ng-show="!newMember.memberType || !newMember.subscriptionLength">
          Please fill out all required fields before clicking <strong>Sign up</strong>.
        </p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="initiatePayment()">Sign up</button>
        </div>
        <p class="help-block">
          When you click <strong>Sign up</strong> your transaction is managed securely by <a href="https://stripe.com/se" target="_blank">Stripe</a>. When the transaction is completed we send you a confirmation to the email address specified above.
        </p>
        <p class="help-block">
          We collect data about members to ensure that we reach out to as many people as possible. The data we collect is only used within Engineers Without Borders Sweden. All data except e-mail and location is optional, but we need those to get in touch with you and make sure that you get information about activities near you.
        </p>
        <p class="help-block">
          If you want to be removed as a member or want to request your data, please get in touch with ict@ewb-swe.org.
        </p>
      </form>
    </div>
  </div>
</div>

<div class="js-confirmation modal fade" role="dialog" aria-labelledby="confirmation-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmation-label">Thank you for the support!</h4>
      </div>
      <div class="modal-body">
        <p>A confirmation of your payment and your membership is sent to <strong>{{successEmail}}</strong>.</p>
        <p>Do you any questions regarding your membership or anything payment related? Reach out to us at <a href="mailto:info@ewb-swe.org">info@ewb-swe.org</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="js-payment-error modal fade" role="dialog" aria-labelledby="confirmation-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmation-label">The transaction was unsuccessful</h4>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
        <p>Do you any questions regarding your membership or anything payment related? Reach out to us at <a href="mailto:info@ewb-swe.org">info@ewb-swe.org</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
