<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Bli medlem</h1>
      <p><strong>
        Vi vill gärna se dig i vår medlemsgemenskap. Att vara medlem i Ingenjörer utan gränser ger dig möjlighet att engagera dig och påverka vårt arbete för en bättre värld. Ditt medlemskap innebär också ett stort stöd för vår verksamhet och vi behöver både aktiva och stödjande medlemmar. Du behöver inte vara ingenjör, alla behövs och alla är välkomna!
      </strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <form class="payment-form">
        <div class="form-group">
          <label for="inputName">Namn och efternamn</label>
          <input class="form-control" type="text" name="inputName" id="inputName" ng-model="newMember.name"/>
        </div>

        <div class="form-group">
          <label for="inputLocation">Ort</label>
          <input class="form-control" type="text" name="inputLocation" id="inputLocation" ng-model="newMember.location"/>
        </div>

        <div class="form-group">
          <label for="inputProfession">Yrke/Utbildning</label>
          <input class="form-control" type="text" name="inputProfession" id="inputProfession" ng-model="newMember.profession"/>
        </div>

        <div class="form-group">
          <label for="inputEmail">E-postadress</label>
          <input class="form-control" type="text" id="inputEmail" ng-model="newMember.email"/>
        </div>

        <div class="form-group">
          <label for="inputTelephone">Telefon</label>
          <input class="form-control" type="text" name="inputTelephone" id="inputTelephone" ng-model="newMember.telephone"/>
        </div>

        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="isStudent" value="1" ng-model="newMember.isStudent"/>
            Student
          </label>
          <label class="radio-inline">
            <input type="radio" name="isStudent" value="0" ng-model="newMember.isStudent" />
            Yrkesverksam eller senior
          </label>
        </div>

        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="subscriptionLength" value="1" ng-model="newMember.subscriptionLength" />
            1 år, 100 kr (40 kr för student)
          </label>
          <label class="radio-inline">
            <input type="radio" name="subscriptionLength" value="3" ng-model="newMember.subscriptionLength" />
            3 år, 250 kr (90 kr för student)
          </label>
        </div>

        <p class="help-block">
          När du klickar på <strong>Bli medlem</strong> hanteras din betalning av <a href="https://stripe.com/se" target="_blank">Stripe</a> (öppnas i nytt fönster) varpå dina uppgifter behandlas säkert. När betalningen är färdig skickar vi en bekräftelse till den e-postadress som angavs ovan.
        </p>

        <p class="help-block">
        Har du några frågor rörande medlemskap eller din betalning? Hör av dig till oss på <a href="mailto:volontar@ingenjorerutangranser.se">volontar@ingenjorerutangranser</a>.
        </p>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="initiatePayment()">Bli medlem</button>
        </div>

      </form>
    </div>
  </div>
</div>
