<div class="container membership">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>Bli medlem</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form novalidate name="form" class="payment-form">
        <div ng-class="{'form-group': true, 'has-error': form.inputName.$invalid && !form.inputName.$pristine, 'has-success': form.inputName.$valid}">
          <label class="control-label" for="inputName">Förnamn och efternamn</label>
          <input class="form-control" type="text" name="inputName" id="inputName" ng-model="newMember.name" required/>
        </div>

        <div ng-class="{'form-group': true, 'has-error': form.inputLocation.$invalid && !form.inputLocation.$pristine, 'has-success': form.inputLocation.$valid}">
          <label class="control-label" for="inputLocation">Ort</label>
          <input class="form-control" type="text" name="inputLocation" id="inputLocation" ng-model="newMember.location" required/>
        </div>

        <div ng-class="{'form-group': true, 'has-error': form.inputProfession.$invalid && !form.inputProfession.$pristine, 'has-success': form.inputProfession.$valid}">
          <label class="control-label" for="inputProfession">Yrke/Utbildning</label>
          <input class="form-control" type="text" name="inputProfession" id="inputProfession" ng-model="newMember.profession" required/>
        </div>

        <div ng-class="{'form-group': true, 'has-error': form.inputEmail.$error.email, 'has-success': form.inputEmail.$valid}">
          <label class="control-label" for="inputEmail">E-postadress</label>
          <input class="form-control" type="email" name="inputEmail" id="inputEmail" ng-model="newMember.email" required/>
          <p class="help-block" ng-show="form.inputEmail.$error.email">
            Fyll i en riktig e-postadress.
          </p>
        </div>

        <div ng-class="{'form-group': true, 'has-error': form.inputTelephone.$invalid && !form.inputTelephone.$pristine, 'has-success': form.inputTelephone.$valid}">
          <label class="control-label" for="inputTelephone">Telefon</label>
          <input class="form-control" type="text" name="inputTelephone" id="inputTelephone" ng-model="newMember.telephone" required/>
        </div>

        <div ng-class="{'form-group': true, 'has-error': !newMember.isStudent && !form.isStudent.$pristine, 'has-success': newMember.isStudent}">
          <label class="radio-inline control-label">
            <input type="radio" name="isStudent" value="1" ng-model="newMember.isStudent"/>
            Student
          </label>
          <label class="radio-inline control-label">
            <input type="radio" name="isStudent" value="0" ng-model="newMember.isStudent" />
            Yrkesverksam eller senior
          </label>
        </div>

        <div ng-class="{'form-group': true, 'has-error': !newMember.subscriptionLength && !form.subscriptionLength.$pristine, 'has-success': newMember.subscriptionLength}">
          <label class="radio-inline control-label">
            <input type="radio" name="subscriptionLength" value="1" ng-model="newMember.subscriptionLength" />
            1 år
          </label>
          <label class="radio-inline control-label">
            <input type="radio" name="subscriptionLength" value="3" ng-model="newMember.subscriptionLength" />
            3 år
          </label>
          <p class="help-block" for="subscriptionLength">
            Bli medlem i 1 år för 100 kr (40 kr för studerande) eller i 3 år för 250 kr (90 kr för studerande).
          </p>
        </div>

        <p class="text-warning" ng-show="form.$invalid || !newMember.isStudent || !newMember.subscriptionLength">
          Var vänlig fyll i alla fälten innan du klickar på <strong>Bli medlem</strong>.
        </p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="initiatePayment()">Bli medlem</button>
        </div>
        <p class="help-block">
          När du klickar på <strong>Bli medlem</strong> hanteras din betalning av <a href="https://stripe.com/se" target="_blank">Stripe</a> varpå dina uppgifter behandlas säkert. När betalningen är färdig skickar vi en bekräftelse till den e-postadress som angavs ovan.
        </p>
      </form>
    </div>
    <div class="col-xs-12 col-md-6">
      <p><strong>
        Vi vill gärna se dig i vår medlemsgemenskap. Att vara medlem i Ingenjörer utan gränser ger dig möjlighet att engagera dig och påverka vårt arbete för en bättre värld. Ditt medlemskap innebär också ett stort stöd för vår verksamhet och vi behöver både aktiva och stödjande medlemmar. Du behöver inte vara ingenjör, alla behövs och alla är välkomna!
      </strong></p>

      <p class="help-block">
        Vill du dessutom engagera dig aktivt rekommenderar vi dig att direkt kontakta din lokala gruppledare som du hittar på <a target="_blank" href="http://ingenjorerutangranser.se/content/organisation">ingenjorerutangranser.se/content/organisation</a>. Du kan också leta lediga, specifika behov på vår rekryteringshemsida <a target="_blank" href="http://volontar.ingenjorerutangranser.se">volontar.ingenjorerutangranser.se</a>. Har du andra frågor, som inte kan besvaras av en av våra befintliga grupper, kontaktar du oss med fördel på <a href="mailto:info@ingenjorerutangranser.se">info@ingenjorerutangranser.se</a>.
      </p>

      <p class="help-block">
      Har du några frågor rörande medlemskap eller din betalning? Hör av dig till oss på <a href="mailto:volontar@ingenjorerutangranser.se">volontar@ingenjorerutangranser.se</a>.
      </p>

      <a href="http://www.ingenjorerutangranser.se">
        <img class="logo" src="/assets/images/ewb-logo.png" alt="Logo" />
      </a>
    </div>
  </div>
</div>

<div class="js-confirmation modal fade" role="dialog" aria-labelledby="confirmation-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmation-label">Tack för ditt stöd!</h4>
      </div>
      <div class="modal-body">
        <p>En bekräftelse på din betalning och medlemskap skickas till <strong>{{successEmail}}<strong>.</p>
        <p>Har du några frågor rörande medlemskap eller din betalning? Hör av dig till oss på <a href="mailto:volontar@ingenjorerutangranser.se">volontar@ingenjorerutangranser.se</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>

<div class="js-payment-error modal fade" role="dialog" aria-labelledby="confirmation-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmation-label">Betalningen misslyckades</h4>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
        <p>Har du några frågor rörande medlemskap eller din betalning? Hör av dig till oss på <a href="mailto:volontar@ingenjorerutangranser.se">volontar@ingenjorerutangranser.se</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>
