<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>{{ev.name}}</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p><strong>{{ev.name}}</strong> <a href="/e/{{ev.identifier}}">/e/{{ev.identifier}}</a></p>
            <p style="white-space: pre-wrap;">{{ev.description}}</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>Skapat: {{ev.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
            <p>Publicerat: {{ev.active ? 'Ja' : 'Nej' }}</p>
            <p>Anmälan öppen: {{ev.notificationOpen ? 'Ja' : 'Nej'}}</p>
            <p>Sista anmälningsdag: {{ev.dueDate | amDateFormat: 'YYYY-MM-DD'}}</p>
            <p>Kontaktperson: {{ev.contact}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <label>Alternativ</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td></td>
                        <td>Namn</td>
                        <td>Pris</td>
                        <td>Platser kvar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="addon in ev.addons">
                        <td><span ng-show="$first">Default</span></td>
                        <td>{{addon.product.name}}</td>
                        <td>{{addon.product.price}} kr</td>
                        <td>{{addon.capacity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Värdar som prenumererar på uppdateringar ({{ev.subscribers.length}} st)</label>
                <p>Separera med <a href="#" ng-click="subscribers = ev.subscribers.join(',')">komma</a> eller <a href="#" ng-click="subscribers = ev.subscribers.join('\n')">ny rad</a></p>
                <textarea class="form-control" rows="5">{{subscribers}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Deltagare ({{ev.participants.length}} st)</label>
                <p>Separera med <a href="#" ng-click="commaSep()">komma</a> eller <a href="#" ng-click="lineSep()">ny rad</a></p>
                <textarea class="form-control" rows="5">{{separatedParticipants}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <label>Anmälningar</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Epost</td>
                        <td>Betalat</td>
                        <td>Val</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payment in ev.payments">
                        <td>{{payment.buyer.document.email}}</td>
                        <td>{{payment.amount}} kr</td>
                        <td>{{joinProducts(payment.products)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
