<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Medlemmar</h1>
        <p>Visar endast aktiva medlemmar</p>
    </div>
</header>

<div class="container">
    <div class="row member-actions">
        <div class="col-xs-12 col-sm-4">
            <a href="/member/new" class="btn btn-default">Lägg till medlem</a>
            <a href="/member/bulk" class="btn btn-default">Bulk lägg till medlemmar</a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button ng-click="generateCsv()" class="btn btn-default">Exportera medlemmar</button>
        </div>
    </div>
    <div class="row filter-panel">
        <div class="col-xs-12 col-sm-4 form-group">
            <input type="text" class="form-control" ng-model="emailFilter" placeholder="Filtrera på epost">
            <p class="help-block">Till exempel <code>gmail</code>, <code>@chalmers.se</code> eller <code>hela@adressen.se</code>.</p>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
            <input type="text" class="form-control" ng-model="locationFilter" placeholder="Filtrera på ort">
            <p class="help-block">Till exempel <code>Göteborg</code>, <code>Stockholm</code> eller <code>Lund|Malmö</code>.</p>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
            <button ng-click="emailFilter = null; locationFilter = null;" class="btn btn-default">Nollställ filter</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <dir-pagination-controls></dir-pagination-controls>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                                Epost
                                <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                                Ort
                                <span ng-show="sortType == 'location' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'location' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'profession'; sortReverse = !sortReverse">
                                Yrke
                                <span ng-show="sortType == 'profession' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'profession' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'telephone'; sortReverse = !sortReverse">
                                Telefon
                                <span ng-show="sortType == 'telephone' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'telephone' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'student'; sortReverse = !sortReverse">
                                Typ
                                <span ng-show="sortType == 'student' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'student' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'createdAt'; sortReverse = !sortReverse">
                                Skapad den
                                <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'expirationDate'; sortReverse = !sortReverse">
                                Medlem till
                                <span ng-show="sortType == 'expirationDate' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'expirationDate' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="member in members | orderBy:sortType:sortReverse | filter:filterByEmail | filter:filterByLocation | itemsPerPage: 50">
                        <td><a href="/member/{{member._id}}">{{member.name}}</a></td>
                        <td>{{member.email}}</td>
                        <td>{{member.location}}</td>
                        <td>{{member.profession}}</td>
                        <td>{{member.telephone}}</td>
                        <td>{{member.student ? 'Student' : 'Yrkesverksam/senior' }}</td>
                        <td>{{member.createdAt | amDateFormat: 'YYYY-MM-DD'}}</td>
                        <td>{{member.expirationDate | amDateFormat: 'YYYY-MM-DD'}}</td>
                        <td>
                            <a href="/member/{{member._id}}/edit" class="btn btn-default btn-xs">Redigera</a>
                            <a href="#" ng-click="deleteUser(member._id)" class="btn btn-danger btn-xs">Ta bort</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>
