# This is a sample .env file. Containing environment placeholders.

NODE_ENV=development
APP_URL=https://member.ewb-swe.org
PORT=9000
EWB_SESSION_SECRET=some-secret
DEV_MAIL=ict@ewb-swe.org
NO_REPLY=noreply@ewb-swe.org
EWB_SENDER="Engineers Without Borders Sweden <info@ewb-swe.org>"
STRIPE_KEY=
STRIPE_CHECKOUT_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
ROLLBAR_ACCESS_TOKEN=
DB_URI=postgres://user:password@host:port/database
