<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Statistics</h1>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12 bg-info">
            All information på denna sida gäller endast aktiva medlemmar såvida annat inte är skrivet.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Medlemmar</h2>
            <p>Totalt: {{members.length}}</p>
            <p>Studenter: {{memberCounts.student}}</p>
            <p>Yrkesverksamma: {{memberCounts.working}}</p>
            <p>Seniora: {{memberCounts.senior}}</p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h2>Kön</h2>
            <p>Män: {{genderCounts.male}}</p>
            <p>Kvinnor: {{genderCounts.female}}</p>
            <p>Annat: {{genderCounts.other}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Åldrar</h2>
            <div ng-repeat="y in birthYears | orderBy: 'name'">
                <p>{{y.name}}: {{y.count}}</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h2>Orter</h2>
            <div ng-repeat="l in locations | orderBy: 'name'">
                <p>{{l.name}}: {{l.count}}</p>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12 row">-->
            <!--<h1>Students: {{studentCount}}</h1>-->
            <!--<h1>Working/retired: {{workingCount}}</h1>-->
            <!--<div class="col-lg-3">-->
                <!--<h1><small>Total members:</small> {{totalMemberCount}}</h1>-->
                <!--<nvd3 options="options" data="data"></nvd3>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
