<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Statistics</h1>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12 bg-info">
            All information på denna sida gäller endast aktiva medlemmar såvida annat inte är skrivet.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Medlemmar</h2>
            <p>Totalt: {{data.members.total}}</p>
            <p>Studenter: {{data.members.student}}</p>
            <p>Yrkesverksamma: {{data.members.working}}</p>
            <p>Seniora: {{data.members.senior}}</p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h2>Kön</h2>
            <p>Män: {{data.members.genders.male}}</p>
            <p>Kvinnor: {{data.members.genders.female}}</p>
            <p>Annat: {{data.members.genders.other}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Åldrar</h2>
            <div ng-repeat="(birthYear, count) in data.members.birthYears | orderBy: 'birthYear'">
                <p>{{birthYear}}: {{count}}</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h2>Orter</h2>
            <div ng-repeat="(location, count) in data.members.locations | orderBy: 'location'">
                <p>{{location}}: {{count}}</p>
            </div>
        </div>
    </div>
</div>
